*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: beige;
    font-size: 18px;
    font-family: sans-serif;
    padding: 20px 0;
    width: 100%;
    height: 100vh;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.right{
    margin-left: 200px;
}
ul , li{
    list-style: none;
    display: flex;
    margin: 15px;
}
ul li a{
    text-decoration: none;
    color: black;
}
.left{
    font-size: 30px;
    color:  rgb(69, 66, 228);
    font-weight: 600;
    border: 2px dotted  rgb(69, 66, 228);
    padding: 5px 15px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 5px;
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin: 30px;
}
.textBanner{
    width: 50%;
    padding: 0 20px;
}
.textBanner h1{
    color: rgb(90, 87, 238);
    font-size: 45px;
    margin-inline: 40px;
    padding-left: 20px;
    border-left: 3px solid  rgb(69, 66, 228);
}
.textBanner p{
    margin: 30px 0;
    font-size: 30px;
    padding-left: 20px;
    margin-inline: 40px;
    margin-bottom: 40px;
}
.imageBanner{
    width: 40%;
    /* padding: 40px; */
}
.imageBanner img{
    width: 500px;
    height: 450px;
}
.textBanner .btn a{
     margin-inline: 50px;
}
.btn a{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 10px 30px;
    border-radius: 50px;
    background-color: rgb(161, 160, 235);
}
.btn a:hover{
    background-color: transparent;
    padding: 10px 28px;
}
nav ul li a:hover{
    color:  rgb(69, 66, 228);
    border-bottom: 1px solid rgb(69, 66, 228);
    border-radius: 3px;
}